.header {
  background-color: #00257e;
  &__link {
    color: #ffffff!important;
    font-size: 1.4rem;
  }
  &__link:hover {
    text-decoration: underline;
  }
}

.find {
  &__form {
    & input {
      margin-bottom: 10px;
      font-size: 20px;
      border-radius: 5px;
      width: 100%;
    }
    & input:last-child {
      margin-bottom: 0;
    }
  }
  &__form:first-child {
    margin-top: 0;
  }

  &__answer {
    & p {
      font-size: 24px;
    }
    & p span {
      color: #3490dc;
    }
  }
}

@media screen and (max-width: 768px){
  .find {
    &__form {
      margin-top: 20px;
    }
    &__form:first-child {
      margin-top: 0;
    }
  }
}
