body {
  font-family: Roboto;
  font-style: normal;
}
.header {
  background-color: #454545;
  display: flex;
  flex-direction: column;
  padding: 0;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    color: #ffffff!important;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.8rem 1rem;
  }
  &__li:hover, &__active {
    background: #0094FF;
  }
  &__phone {
    margin-right: 50px;
  }
  &__phone p, &__email p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    margin: 0;
  }
  &__phone img, &__email img {
    margin-right: 15px;
  }
}

.logo {
  display: flex;
  & img {
    margin-right: 20px;
  }
  & p {
    font-size: 28px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  & p span {
    color: #0094FF;
  }
}

.logo-mobile {
  display: none;
  &__text {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & h1 {
      font-size: 20px;
    }
    & h2 {
      font-size: 16px;
    }
  }
}

.find {
  &__form {
    & input {
      margin-bottom: 10px;
      font-size: 20px;
      border-radius: 5px;
      width: 100%;
    }
    & input:last-child {
      margin-bottom: 0;
    }
    & label {
      color: #3490dc;
      font-size: 20px;
    }
  }
  &__form:first-child {
    margin-top: 0;
  }
  &__form-date {
    width: 50%;
  }

  &__answer {
    & p {
      font-size: 24px;
    }
    & p span {
      color: #3490dc;
    }
  }
}

.students {
  &__buttons-group {
    display: flex;
    justify-content: flex-start;
    & a {
      margin-right: 20px;
    }
  }
  & p {
    font-size: 20px;

  }
  & p span {
    color: #0094FF;
  }
}

.admin {
  &__form {
    margin-bottom: 15px;
    & div {
      margin-bottom: 10px;
    }
  }
}

.preview {
  margin-top: -25px;
  position: relative;
  display: flex;
  justify-content: center;
  //background: url("storage/images/preview.jpg") no-repeat center;
  & h1 {
    position: absolute;
    top: 25%;
    color: #ffffff;
    width: 70%;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }
}

.main-content {
  padding-top: 15px;
  & ul {
    list-style-type: none;
    padding: 0;
  }
  & ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  & ul li p {
    margin: 0;
  }
  ul li img {
    margin-right: 13.5px;
  }
  & h2 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 15px;
  }
  & h3 {
    font-weight: 400;
    font-size: 28px;
    margin-top: 25px;
  }
  & p {
    font-size: 16px;
    font-weight: 400;
  }
  & p span {
    color: #0094FF;
  }
}

.btn {
  width: 250px;
  font-size: 20px;
}

input[type="date"]:before {
  color: #6c757d;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
input[type="date"]:focus:before {
  content: '' !important;
}

.navbar-toggler-icon {
  background-image: url("svg-editor-image.svg")!important;
}

.modal-footer {
  justify-content: center!important;
}

@media screen and (max-width: 1225px){
  .preview h1 {
    font-size: 40px;
  }

}

@media screen and (max-width: 1200px){
  .logo {
    & p {
      font-size: 22px;
    }
  }

}

@media screen and (max-width: 1021px){
  .preview h1 {
    font-size: 34px;
  }

}

@media screen and (max-width: 991px){
  .header {
    padding: 0.5rem 1rem;
    &__top {
      flex-direction: column;
    }
  }

  .header__top, .header__top a {
    margin-bottom: 10px;
  }

  .preview h1 {
    font-size: 30px;
  }
  .main-content h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px){
  .find {
    &__form {
      margin-top: 20px;
    }
    &__form:first-child {
      margin-top: 0;
    }
  }
  .header {
    &__contacts {
      flex-direction: column;
      align-items: center;
    }
    &__phone {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
  .preview h1 {
    top: 15%;
    font-size: 26px;
    line-height: 36px;
  }
  #navbarNav {
    margin-top: 10px;
  }
  .students {
    &__buttons-group {
      flex-direction: column;
      align-items: center;
    }
    &__buttons-group a {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .form-btn {
    display: flex;
    justify-content: center;
  }
  .h3-mobile {
    text-align: center;
  }
}

@media screen and (max-width: 560px){
  .preview h1 {
    top: 10%;
    font-size: 20px;
  }
}

@media screen and (max-width: 513px){
  .find__form-date {
    width: 100%;
  }
}

@media screen and (max-width: 505px){
  .logo-mobile {
    & h2 {
      font-size: 12px;
    }
    & img {
      width: 70px;
    }
  }

  .find {
    &__answer p {
      font-size: 16px;
    }
  }

  .form-row {
    display: block;
  }
}

@media screen and (max-width: 425px){
  .logo-mobile {
    & h2 {
      font-size: 10px;
    }
  }
  .header {
    padding: 0.8rem 0.5rem;
  }
  .logo p {
    font-size: 18px;
  }

  .preview h1 {
    top: 10%;
    font-size: 16px;
    line-height: 30px;
  }
  .main-content h2 {
    font-size: 20px;
  }
  .main-content h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 370px){
  .header {
    &__phone p, &__email p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 345px){
  .logo-mobile {
    & img {
      width: 50px;
    }
    & h2 {
      font-size: 9px;
    }
  }
}

